<div class="container">
<h1>Welcome to Cask</h1>
<p>Cask is a visual timeline of the publication dates of classic cocktail recipes </p>
</div>

<script>
    const cocktailData = <%= raw @timeline_data.to_json %>;
    const jitter = 3; // max +/- 1
    const jitteredData = cocktailData.map(c => ({
    ...c,
    y: (Math.random() - 0.5) * jitter  // small random vertical offset
  }));
</script>

<div>
  <canvas id="timeline"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('timeline');

  new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            label: 'Cocktails',
            data: jitteredData,
            }]
    },
    options: {
      scales: {
        x: {
          type: 'linear',
          position: 'bottom',
          title: {
            text: 'Year Published',
            display: true,
            color: 'rgb(236, 202, 152)'
          },

          border: {color: 'rgb(236, 202, 152)', width: 4},
          ticks: {stepSize: 5, color: 'rgb(236, 202, 152)'}
        },
        y: {
            display: false,
            beginAtZero: false,
            min: -5,
            max: 5,
            
        }
      },
      elements:{
        point:{
            radius: 20
        }
      },
      onClick: (event, elements, chart) => {
        if (!elements.length) return;
        const element = elements[0];
        const dataPoint = chart.data.datasets[element.datasetIndex].data[element.index];
        window.location.href = `/cocktails/${dataPoint.id}`;
       },
      onHover: (event, elements) => {
        event.native.target.style.cursor = elements.length ? 'pointer' : 'default';
      },
      plugins: {
        tooltip: {
          callbacks: {
            label: function(context) {
              const point = context.raw;
              return `${point.name} (${point.title}, ${point.x})`;
            }
          }
        }
      }
    }
  });
</script>