<div class="container">
<h1>Welcome to Cask</h1>
<p>Cask is a visual timeline of the publication dates of classic cocktail recipes </p>
</div>

<script>
    const cocktailData = <%= raw @timeline_data.to_json %>;
    const jitter = 3; // max +/- 1
    const jitteredData = cocktailData.map(c => ({
    ...c,
    y: (Math.random() - 0.5) * jitter  // small random vertical offset
  }));
</script>

<div>
  <canvas id="timeline"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('timeline');

  new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            label: 'Cocktails',
            data: jitteredData,
            }]
    },
    options: {
      scales: {
        x: {
          type: 'linear',
          position: 'bottom',
          title: {
            text: 'Year Published',
            display: true,
            color: 'rgb(236, 202, 152)',
            font: {size: 36}
          },

          border: {color: 'rgb(236, 202, 152)', width: 20},
          ticks: {
            stepSize: 5,
            color: 'rgb(236, 202, 152)',
            font: {size: 20}}
        },
        y: {
            display: false,
            beginAtZero: false,
            min: -5,
            max: 5,
            
        }
      },
      elements:{
        point:{
            radius: 20,
            hoverRadius: 28,
            backgroundColor: 'rgb(236, 202, 152)',
            borderColor: jitteredData.map(d => d.color),
            borderWidth: 4
        }
      },
      onClick: (event, elements, chart) => {
        if (!elements.length) return;
        const element = elements[0];
        const dataPoint = chart.data.datasets[element.datasetIndex].data[element.index];
        window.location.href = `/cocktails/${dataPoint.id}`;
       },
      onHover: (event, elements) => {
        event.native.target.style.cursor = elements.length ? 'pointer' : 'default';
      },
      plugins: {
        tooltip: {
          padding: 16,
          titleFont: {
            size: 20,
            weight: 'bold'
          },
          bodyFont: {
            size: 16
          },
          callbacks: {
            title: function(context) {
            const point = context[0].raw;
            return point.name;
          },
          label: function(context) {
            const point = context.raw;
            return `${point.title}, ${point.x}`;
          }
        }
      }
      }
    }
  });
</script>